$colors: (
  primary: #45a29e,
  primary-light: #66fcf1,
  grey: #c5c6c7,
  primary-dark: #1f2833,
  black: #0b0c10,
  dark: #e66465,
  dark-sub: #9198e5,
);
$phone:600px;
$tablet:600px;
$laptop:900px;
$desktop:1100px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  } 
}
@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  } 
}
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  } 
}
