@import "_variables.scss";
@import "_usergallery.scss";
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  /* @include desktop {
    font-size: 70%;
  } */
}
body {
  background-image: linear-gradient(
      to right bottom,
      rgba(color(dark), 0.5),
      rgba(color(dark-sub), 0.5)
    ),
}
.header {
  position: relative;
  height: 100vh;

  // background-color: rgba(color(primary), 1);
  background-image: linear-gradient(
      to right bottom,
      rgba(color(primary), 0.5),
      rgba(color(primary-light), 0.5)
    ),
    url(../media/NYC.jpg);
  background-position: top;
  background-size: cover;

  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);

  .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .heading-primary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    width: 100vw;
    text-align: center;
    //text-shadow: 3px 3px 8px #111;
    font-weight: 700;
    animation-name: slide-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    .heading-primary-main {
      font-size: 4rem;
      text-shadow: 3px 3px #333;
      width: 80vw;
      letter-spacing: 0rem;
      text-align: center;
      margin: 0 auto;
      @include tablet {
        font-size: 6rem;
        letter-spacing: 1.8rem;
      }
      @include laptop {
        font-size: 10rem;
        letter-spacing: 2.2rem;
      }
    }
      }
    }

@keyframes slide-in {
  0% {
    transform: translateX(-200rem);
  }
  100% {
    transform: translateX(0);
  }
}

.btn {
  background-color: white;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
}

.one {
  background-image: linear-gradient(to bottom right, #33CCFF, #66FFFF);
  border-radius: 10px;
  font-weight: 100;
  padding: 20px;
  transition: all 0.3s ease 0s;
}

.one:hover {
    color: #404040;
    font-weight: 700; 
    letter-spacing: 3px;
    background: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.Pictures-Overlay {
  position: relative;
  height: 100vh;

  background-image: url(../media/NYC2.jpg);
background-position: top;
background-size: cover;

-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.Pictures_Overlay{
	height: 110vh;
	padding: 5rem;
	margin-top: -15rem;
	background-size: cover;
	background-position: center;
}

.Picture-Description {
  font-size: 1.7vw;
  padding: 2.5%;
  max-width: 40%;
  margin-left: 5%;
  height: 10vh;
  background-color: gray;
  border: 1.5rem;
  text-align: center;
  margin-top: 10%;
  border: 1.5rem;
}

.City-Pictures{
  display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: nowrap;
	padding: 5rem;
	transition: 1s all;
	max-height: 45vh;
	width: 53%;
	margin-left: 40%;
}

.1{
  max-width: 30%;
	border: 1rem
  
}

.Package-Cards{
  height: 100vh;
  position: relative;
}

.Package-Row{
  display: flex;
  justify-content: space-around;
  padding: 0rem;
  margin: 0rem;
}